/**
 * @file
 * Subtheme specific CSS.
 *
 *
 * Colours
 *
 *
 * Coolors.co
 * Dark blue: #2e4057
 * Yellow: #ffe79e
 * Blue: #5d86a7
 * Green: #66a182
 * Light green: #caffb9
 *
 *
 * SDK Blue #6699cc
 * SDK Peach #f9bea0
 *
 * Eigengrau #16161D
 *
 *
 *
 *
 *
 * En annan SDK Blue #5d86a7
 *
 *
 * Original SDK Blue #5a8cad
 * Original SDK Peach #f7bda5
 *
 *
 * https://coolors.co/export/png/5d86a7-5a8cad-6699cc-f7bda5-f9bea0
 *
 * BookmanOldStyle-Bold, Bookman Old Style
 * BrushScriptMT; Brush Script MT
 *
 **/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}









/* Postit */

.postit {
  line-height: 1;
  text-align:center;
  width: 275px;
  margin: 25px;
  min-height:250px;
  max-height:250px;
  padding: 0 0.3em;
  position:relative;
  border:1px solid #E8E8E8;
  border-top:60px solid #fdfd86;
  font-family:'Reenie Beanie';
  font-size:30px;
  border-bottom-right-radius: 60px 5px;
  display:inline-block;
  background: #ffff88; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.postit:after {
  content: "";
  position:absolute;
  z-index: -1;
  right:-0px; bottom:20px;
  width:200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postit h2 {
  margin-top: -0.7em;
  font-size: 46px;
}

.right {
  transform: rotate(4deg);
}

.left {
  transform: rotate(-3deg);
}


/* Korten */

.kort {
  margin: 3em 0;
}

.papper {
  min-height: 400px;
  padding: 1em;
  margin: 0.5em;
  background: #fff url("/themes/sdk/images/lightpaperfibers/lightpaperfibers/lightpaperfibers.png");
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  position: relative;
  z-index: 0;
}
.papper:before, .papper:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.papper:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.papper:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

.papper h2 a {
  color: #2e4057;
}

.papper h3 {
  float: right;
  color: #5d86a7;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

